@import url(bootstrap/bootstrap.min.css);
@import url(bootstrap/bootstrap-theme.min.css);
@import url(owl_carousel/owl.theme.default.min.css);
@import url(owl_carousel/owl.carousel.min.css);
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

@media screen and (min-width: 1024px) {
  .no-padding {
    padding: 0; } }

.no-margin {
  margin: 0; }

h1, h2, h3, h4, h5, h6, a, p {
  font-family: 'Asap', sans-serif;
  color: #4d4d4d; }

h1, h2, h3, h4, h5, h6, a, p {
  margin: 0; }

.main__text {
  font-size: 90px;
  font-weight: 500; }
  @media screen and (max-width: 768px) {
    .main__text {
      font-size: 50px; } }

.main__text-subtitle {
  font-size: 22px;
  font-weight: 500;
  line-height: 40px;
  color: #8b97a8; }
  @media screen and (max-width: 768px) {
    .main__text-subtitle {
      color: #4d4d4d; } }

.section__text {
  font-size: 46px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 2px; }
  @media screen and (max-width: 768px) {
    .section__text {
      font-size: 30px; } }

.section__item-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 33px; }

.carousel__text {
  font-size: 30px;
  font-weight: 500; }
  .carousel__text span {
    font-style: italic;
    font-size: 12px;
    font-weight: 400; }

.section-progres__text {
  color: #212121;
  font-size: 22px;
  font-weight: 400;
  line-height: 40px; }
  .section-progres__text.quantity {
    font-size: 30px;
    font-weight: 700; }

.footer__text-rights {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  line-height: 28px; }

.information__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; }

::-webkit-input-placeholder {
  color: #212121;
  font-size: 16px;
  font-family: 'Asap', sans-serif; }

::-moz-placeholder {
  color: #212121;
  font-size: 16px;
  font-family: 'Asap', sans-serif; }

/* Firefox 19+ */
:-moz-placeholder {
  color: #212121;
  font-size: 16px;
  font-family: 'Asap', sans-serif; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: #212121;
  font-size: 16px;
  font-family: 'Asap', sans-serif; }

.btn {
  border-radius: 0;
  border: solid #000000 1px;
  padding: 0 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  margin-right: 20px;
  text-shadow: none;
  transition: 0.2s; }

.btn-static {
  width: 164px;
  margin-right: 20px; }
  .btn-static:last-child {
    margin-right: 0px; }
  @media screen and (max-width: 768px) {
    .btn-static {
      width: 100%;
      margin-bottom: 15px;
      margin-right: 0; } }

.btn-default {
  background-image: none;
  background-color: transparent;
  color: #4d4d4d; }
  .btn-default:hover {
    color: #4d4d4d;
    border-color: #fff;
    background-color: #fff;
    box-shadow: 0 18px 26.68px 2.32px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 18px 26.68px 2.32px rgba(0, 0, 0, 0.1); }

.main {
  position: relative;
  z-index: 2;
  max-height: 100vh;
  background-image: url("../images/main_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (max-width: 425px) {
    .main .main_bg {
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      transform: translateY(10px); } }

.navbar-default .navbar-toggle {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 10px 0; }
  .navbar-default .navbar-toggle .icon-bar {
    position: relative;
    transition: all .2s linear; }
  .navbar-default .navbar-toggle.active .icon-bar:nth-of-type(2) {
    transform: rotate(45deg);
    top: 6px; }
  .navbar-default .navbar-toggle.active .icon-bar:nth-of-type(3) {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-5px); }
  .navbar-default .navbar-toggle.active .icon-bar:nth-of-type(4) {
    top: -6px;
    transform: rotate(-45deg); }
  .navbar-default .navbar-toggle:focus {
    background-color: transparent; }

.navbar-collapse {
  border: none;
  border-color: transparent; }

.navbar {
  z-index: 1;
  background-image: none;
  background-color: inherit;
  border: none;
  box-shadow: none;
  padding: 30px 0 0;
  margin-bottom: 0; }

.navbar-brand {
  padding: 0; }

.nav > li {
  padding: 0 15px; }
  .nav > li:last-child {
    padding-right: 0; }
  .nav > li > a.navbar__item {
    text-shadow: none;
    color: #4d4d4d;
    border-bottom: solid transparent 1px;
    padding: 0;
    transition: border-bottom-color .2s .1s linear; }
    .nav > li > a.navbar__item:hover {
      border-bottom-color: #4d4d4d;
      color: inherit; }

.main__inner {
  position: relative;
  z-index: 2;
  padding: 40px 0 0; }
  @media screen and (max-width: 425px) {
    .main__inner {
      text-shadow: 0px 5px 9px rgba(0, 0, 0, 0.4); } }
  @media screen and (min-width: 1440px) {
    .main__inner {
      padding: 158px 0; } }
  @media screen and (min-width: 1024px) {
    .main__inner {
      padding: 80px 0; } }
  .main__inner .main__text-subtitle {
    margin-bottom: 33px; }
  @media screen and (max-width: 425px) {
    .main__inner .btn-static {
      background-color: rgba(255, 255, 255, 0.4);
      text-shadow: 0px 5px 9px rgba(0, 0, 0, 0.4);
      border-color: transparent; } }

section {
  padding: 50px 0; }
  @media screen and (min-width: 1024px) {
    section {
      padding: 100px 0; } }

.odd {
  background-color: #f6f6f6; }

.even {
  background-color: #fff; }

.section__text:before {
  content: "";
  display: block;
  height: 23px;
  width: 60px;
  margin: auto;
  border-top: solid #4d4d4d 5px; }

@media screen and (min-width: 1440px) {
  .about__inner {
    padding: 70px 0; } }
.about__inner .section__text-left {
  line-height: 48px; }
  .about__inner .section__text-left:before {
    content: "";
    display: block;
    margin: 0; }
.about__inner .information__text {
  margin-bottom: 40px; }

@media screen and (max-width: 768px) {
  .foto__about {
    padding-top: 40px; } }

.services .section__text {
  margin-bottom: 70px; }
.services .section__item {
  margin-bottom: 76px; }
  .services .section__item:last-child {
    margin-bottom: 0; }
  @media screen and (min-width: 768px) {
    .services .section__item:nth-child(4), .services .section__item:nth-child(5) {
      margin-bottom: 0; } }
.services .service__ico {
  margin-bottom: 15px; }

.skills .section__text {
  margin-bottom: 55px; }

.portfolio .section__text {
  margin-bottom: 47px; }
.portfolio .portfolio__item {
  display: block;
  margin-bottom: 30px; }
  .portfolio .portfolio__item a {
    display: inline-block;
    background-color: #000000; }
    .portfolio .portfolio__item a:hover img {
      opacity: 0.8;
      transition: 0.2s;
      box-shadow: 0 0 36.75px 12.25px rgba(0, 0, 0, 0.15); }

@media screen and (max-width: 768px) {
  .testimonials {
    padding-bottom: 0; } }
.testimonials .section__text {
  margin-bottom: 60px; }
  @media screen and (max-width: 768px) {
    .testimonials .section__text {
      margin-bottom: 30px; } }
@media screen and (max-width: 425px) {
  .testimonials .carousel__foto {
    margin-bottom: 20px;
    border-radius: 50%; } }
.testimonials .carousel__text {
  color: black;
  margin-bottom: 15px; }
.testimonials .carousel__item-text {
  margin-left: 30px; }

.owl-carousel {
  padding: 86px 0 108px;
  border: 1px solid #000000;
  margin-bottom: 121px;
  position: relative; }
  @media screen and (max-width: 768px) {
    .owl-carousel {
      padding: 20px 0 40px;
      border: none;
      margin-bottom: 50px; } }
  .owl-carousel .owl-dots {
    overflow: hidden;
    position: absolute;
    bottom: 53px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    background-color: inherit;
    width: 48px;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .owl-carousel .owl-dots {
        bottom: -15px; } }
    .owl-carousel .owl-dots button.owl-dot {
      overflow: inherit;
      background-color: inherit;
      border: none; }
      .owl-carousel .owl-dots button.owl-dot.active span {
        background-color: #000; }
      .owl-carousel .owl-dots button.owl-dot span {
        display: block;
        border: 1px solid #000000;
        background: transparent;
        width: 13px;
        height: 13px; }

.progres {
  padding: 54px 0 63px; }
  .progres .progres__img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 98px;
    margin-bottom: 30px; }

.footer {
  padding-top: 145px;
  background-image: url("../images/footer_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (max-width: 768px) {
    .footer {
      padding-top: 60px; } }
  .footer .section__text {
    margin-bottom: 70px;
    color: #FFFFFF; }
    .footer .section__text:before {
      border-color: #FFFFFF; }
  .footer .btn-default {
    border-color: transparent;
    background-color: #fff; }
    .footer .btn-default:hover {
      transform: translateY(-3px);
      box-shadow: 0 18px 26.68px 2.32px rgba(255, 255, 255, 0.2);
      -webkit-box-shadow: 0 18px 26.68px 2.32px rgba(255, 255, 255, 0.2); }
    .footer .btn-default i {
      padding-left: 5px; }
  .footer form {
    margin-bottom: 58px; }

.form-group {
  margin-bottom: 30px; }

.form-control {
  height: auto;
  line-height: 58px;
  border: none;
  border-radius: 0;
  padding: 0 12px;
  color: #212121;
  font-size: 16px;
  font-family: 'Asap', sans-serif; }
  .form-control:focus {
    -webkit-box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.33);
    box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.33); }
  .form-control.form-textarea {
    height: 206px;
    resize: none; }

.social {
  display: flex;
  justify-content: flex-start; }

.social__item {
  height: 28px;
  width: 28px;
  margin-right: 9px;
  background-color: #fff;
  list-style: none;
  transition: background-color 0.2s; }
  .social__item:hover {
    background-color: #0985bf; }
  .social__item:hover a {
    color: white; }
  .social__item a {
    line-height: 28px;
    font-size: 14px; }

.user-rights {
  padding: 26px 0 30px;
  border-top: 2px solid white; }

#button-up {
  width: 46px;
  height: 46px;
  display: none;
  position: fixed;
  opacity: 0.5;
  right: 30px;
  bottom: 10%;
  color: #4d4d4d;
  background-color: #33839e;
  text-align: center;
  line-height: 46px;
  font-size: 20px;
  transition: .3s;
  z-index: 5; }
  #button-up:hover {
    opacity: 1;
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 18px 26.68px 2.32px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 18px 26.68px 2.32px rgba(255, 255, 255, 0.2); }

/*# sourceMappingURL=main.css.map */
